<!--応援ボタン削除-->
<span><%= post.yells.count %></span>
<% if post.yelled_by?(current_member) %>
  <%= link_to post_yells_path(post.id), method: :delete, remote: true do %>
      <i class="fas fa-thumbs-up"></i>
  <% end %>
<!--応援ボタン作成-->
<% else %>
  <%= link_to post_yells_path(post.id), method: :post, remote: true do %>
    <button type="button" class="btn-border-gradient-wrap"><i class="far fa-thumbs-up"></i></button>
  <% end %>
<% end %>
