<body class= "post-index-content">
  <div class= "row">
    <div class= "col-sm-12 col-md-12 col-lg-12">

          <h4 class= "post-index-title">
            <img class= "index-image" src="/assets/投稿一覧用.png">投稿一覧
            </h4>
          <%= render "index", post: @posts %>

    </div>
  </div>
</body>