.log_in-admin-content {
  background-color: gray;
}

.admin-sign_in {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.80);
  height: 450px;
}

.admin-sign_in .items {
  margin: 150px auto;
}