<h1>マイページ</h1>
  <table>
    <tr>
      <%= image_tag @member.get_profile_image(300,300) %>

      <% if @member.name != 'guestmember' %>
      <p><%= link_to 'プロフィール編集', edit_member_path %></p>
      <% end %>
    </tr>
    <tr>
      <th><%= @member.name %></th>
    </tr>
    <tr>
      <th>紹介文入ります<%= @member.introduction %></th>
    </tr>
    <tr>
      <th>新規投稿ボタン追加します</th>
    </tr>
    <tr>
      <th>応援した作品一覧のリンクを作ります</th>
    </tr>
  </table>
