<!--応援一覧-->
<body class= "post-index-content">
  <div class= "row">
    <div class= "col-sm-12 col-md-12 col-lg-12">

          <h4 class= "post-index-title">
            <img class= "index-image" src="<%= asset_pack_path "media/images/yell_index.png" %>"><%= @member.name %>さんの応援
            </h4>
          <%= render "public/posts/index", post: @posts %>

    </div>
  </div>
</body>