.post-new-content {
  margin: 0 auto;
  width: 100%;
  background-image:image-url("/assets/akarume.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: inline-block;
}

.post-new-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.80);
  width: 800px;
  height: 920px;
  margin: 20px auto;
  border-radius: 15px;
}

.post-new-page .items {
  // background-color: white;
  width: 700px;
  height: 600px;
  margin-bottom: 200px;
  text-align: center;
}

.post-new-page .title {
  width: 150px;
  display: inline-block;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.30);
}

.post-new-page h4 {
  padding: 10px;
}

// 投稿編集画面
.post-edit-content, .post-show-content {
  margin: 0 auto;
  width: 100%;
  background-image:image-url("/assets/hikaeme.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: inline-block;
}

.post-edit-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.80);
  width: 800px;
  height: 990px;
  margin: 20px auto;
  border-radius: 15px;
}

.post-edit-page .title {
  width: 150px;
  margin-bottom: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.30);
}

// 投稿詳細画面
.post-show-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.post-show-page .items {
  color: white;
  // 目印
  // background-color: rgba(0,0,0,0.30);
  width: 800px;
  text-align: center;
}

.items .item1 {
  margin-top: 10px;
  display: inline-block;
}

.items .tag-name {
  margin-left: 10px;
  font-size: 15px;
}

.items .body {
  border-radius: 5px;
  white-space: pre-wrap;
  background-color: rgba(255,255,255,0.15);
}

.items h5 {
  display: inline-block;
  border: 1px solid rgba(255,255,255,100);
  padding: 5px;
}

.comment-area {
  margin-top: 150px;
  // 目印
  background-color: rgba(255,255,255,0.15);
  width: 800px;
}

.comment-area .comment {
  text-align: left;
  white-space: pre-wrap;
}

.comment-area .comment-member {
  padding-bottom: 20px;
}

.comment-area img {
  padding-left: 20px;
}

.comment-area .delete-btn {
  position: relative;
  left: 550px;
}