.post-new-content {
  margin: 0 auto;
  width: 100%;
  background-image: url("../../images/akarume.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: inline-block;
}

.post-new-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.80);
  width: 800px;
  margin: 20px auto;
  border-radius: 15px;
}

.post-new-page .items {
  width: 700px;
  margin-bottom: 20px;
  text-align: center;
}

.post-new-page .title {
  width: 150px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.30);
}

.post-new-page h4 {
  padding: 10px;
}

// 投稿編集画面
.post-edit-content, .post-show-content {
  margin: 0 auto;
  width: 100%;
  background-image: url("../../images/hikaeme.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: inline-block;
}

.post-edit-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.80);
  width: 800px;
  margin: 20px auto;
  border-radius: 15px;
}

.post-edit-page .items {
  margin: 20px auto;
}

.post-edit-page .title {
  width: 150px;
  margin-bottom: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.30);
}

// 投稿詳細画面
.post-show-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.post-show-page .items {
  color: white;
  width: 800px;
  text-align: center;
  overflow-wrap: break-word;
}

.items .item1 {
  margin-top: 10px;
  display: inline-block;
}

.items .tag-name {
  margin-left: 10px;
  font-size: 15px;
}

.items .body {
  border-radius: 5px;
  white-space: pre-wrap;
  background-color: rgba(255,255,255,0.15);
}

.items h5 {
  display: inline-block;
  border: 1px solid rgba(255,255,255,100);
  padding: 5px;
}

.comment-area {
  margin-top: 150px;
  background-color: rgba(255,255,255,0.15);
}

.comment-area .comment {
  width: 100%;
  overflow-wrap: anywhere;
  text-align: left;
  white-space: pre-wrap;
}

.comment-area .comment-member {
  padding-bottom: 20px;
}

.comment-area .area {
  padding: 10px;
  display: block;
  width : 100%;
}

.comment-area .delete-btn {
  margin: 90px 10px 0 0;
  float: right;
}

// 投稿一覧画面テンプレートCSS
.post-index-content {
  margin: 0 auto;
  width: 100%;
  background-image: url("../../images/kyoutuu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: inline-block;
}

.index-page {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgba(255,255,255,0.80);
  width: 1500px;
  height: 920px;
  margin: 20px auto;
  border-radius: 15px;
}

.index-page .items {
  // background-color: (0,0,0,0.80);
  color: white;
  position: relative;
  left: 100px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.index-page .item {
  width: 220px;
  display: inline-block;
}

.items .member-name{
  font-size: 10px;
}

.post-index-title, .post-soat{
  text-align: center;
  padding-top: 40px;
}

.post-index-title {
  font-weight: bold;
  color: white;
}

.index-image {
  max-width: 5%;
  margin-right: 10px;
}

.index-pagenate {
  position: absolute;
  left: 500px;
  top: 780px;
}
