.tops-content {
  margin: 0 auto;
  width: 100%;
  background-image: url("../../images/topgamen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: inline-block;
}

.tops-main-content {
  background-color: rgba(0,0,0,0.50);
  height: 600px;
}

.swiper {
  width: 900px;
}

.swiper img {
  max-width: 100%;
  max-height: 100%;
}

.tops-main-title {
  height: 120px;
  width: 250px;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.70);
  display: inline-block;
  position: absolute;
  top: 60px;
  right: 60px;
  padding: 20px;
}

.tops-main-title .text2 {
  font-size: 40px;
}

.tops-main-title2 {
  height: 200px;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.70);
  display: inline-block;
  position: absolute;
  top: 60px;
  right: 430px;
  padding: 20px;
  line-height: 70px;
}

.tops-main-title2 .text2 {
  font-size: 30px;
}


.main-text {
  color: white;
  text-align: center;
}

.tops-main-button {
  text-align: center;
}

.new-post-index {
  background-color: rgba(255,255,255,0.50);
  height: 230px;
  width: 100%;
  text-align: center;
}

.new-post-index .row{
  margin: 0 auto;
}

.new-post-index .text {
  color: white;
  padding: 15px 0 0 15px;
}

.new-post-index .image-index{
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
}

.new-post-index .image {
  display: inline-block;
  width: 120px;
  margin: 10px 20px 20px 10px;
}
