<div class="hamburger">
  <span></span>
  <span></span>
  <span></span>
</div>

<nav class="hamburger-menu">
    <ul>
        <li>
          <a href="#"><%= link_to 'マイページ', root_path %></a>
        </li>
        <li><a href="#">Menu2</a></li>
        <li><a href="#">Menu3</a></li>
        <li><a href="#">Menu4</a></li>
        <li><a href="#">Menu5</a></li>
    </ul>
</nav>
